:root {
    --contrastColor: #DDDDDD;
    --bgcolor: #222831;
    --midColor: #30475E;
    --redColor: #F05454;
}

body {
    background-color: var(--bgcolor) !important;
    margin: 0;
    font-size: 0.9rem;
}

#about{
    color: var(--contrastColor);
    margin: 4rem;
}

#about h1{
    font-size: 1.8rem;
    padding: 2rem;
}

.my-button{
    background-color: var(--midColor);
    transition: 0.1s ease;

    color: var(--contrastColor);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 20px;
    outline: none; /* Remove outline */
}

.my-button:active {
    opacity: 0.5;
}

.my-button:focus {
    outline: none; /* Remove outline when focused */
}

.svgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

svg {
    position: absolute;
    top: 30vh;
    left: 40vw;
    width: 100%;
    height: 100%;
    overflow: visible;
    stroke: var(--contrastColor);
    fill: none;
}

path {
    fill: none;
    stroke: var(--contrastColor);
    stroke-width: 0.8;  
}

canvas {
    border: 1px solid white;
}

.button-controls{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    height: 100%;
    margin-top: 1rem;
}

#advanced-controls{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    height: 100%;
    margin-top: 1rem;
}

#core-controls{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    height: 100%;
    margin-top: 1rem;
}
#easy-controls{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    height: 100%;
    margin-top: 1rem;
}

.filter-controls{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    height: 100%;
    margin-top: 2.5rem;
}

.filter-button {
    height: 80%;
    margin: 1rem;
    display: flex;
}

.filter-type-selector{
    background-color: var(--midColor);
    color: var(--contrastColor);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 20px;
}

.dial-container {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    margin: 20px;
    text-align: center;
}

.dial {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--midColor);
    position: relative;
    cursor: pointer;
    /* border: 1px solid var(--contrastColor); */
}

.dial-indicator {
    width: 2px;
    height: 50%;
    background: var(--midColor);
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    /* border-radius: 20%; */
}

.dial-indicator-tip{
    width: 8px;
    height: 16px;
    background-color: var(--redColor);
    position: relative;
    border-radius: 17%;
    left: -4px;
    /* top: 1px; */
}

.dial-function-text {
    text-align: center;
    width: 100%;
    position: absolute;
    top: -40%;
    color: var(--contrastColor);
    margin-bottom: 10px;
}

.dial-value-text {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 100%;
    color: var(--contrastColor);
}

.faded {
    opacity: 0.2;
}