:root {
    --contrastColor: #DDDDDD;
    --bgcolor: #222831;
    --midColor: #30475E;
    --redColor: #F05454;
}

body {
    background-color: var(--bgcolor) !important;
    margin: 0;
    font-size: 0.9rem;
}

.button-row{
    margin: 4rem;
}

#about{
    color: var(--contrastColor);
    margin: 4rem;
}

#about h1{
    font-size: 1.8rem;
    padding: 2rem;
}

.my-button{
    background-color: var(--midColor);
    transition: 0.1s ease;

    color: var(--contrastColor);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;

    padding: 0.4rem 1rem;
    margin: 0.1rem 0.1rem;

    outline: none; /* Remove outline */
}

.filter-type-selector{
    background-color: var(--midColor);
    color: var(--contrastColor);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;

    padding: 0.4rem 1rem;
    margin: 0.1rem 0.1rem;
    -webkit-appearance: none;
}

.my-other-button{
    background-color: var(--bgcolor);
    transition: 0.1s ease;

    color: var(--contrastColor);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    outline: none; /* Remove outline */
}

.my-button:active {
    opacity: 0.4;
}

.control-icon-container{
    width: 4rem;
    height: 4rem;
}

.control-icon{
    height: 2.7rem;
    cursor: pointer; 
    transition: 0.3s ease-out;
}

.control-icon:active {
    opacity: 0.4;
    transition: 0.0s ease-out;
}

.my-other-button:active {
    opacity: 0.4;
}

.my-button:focus {
    outline: none; /* Remove outline when focused */
}


.my-other-button:focus {
    outline: none; /* Remove outline when focused */
}

.svgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

path {
    fill: none;
    stroke: var(--contrastColor);
    stroke-width: 0.8;  
}

canvas {
    border: 1px solid white;
}


#preset-controls{
    margin-top: 1rem;
    /* height: 3rem; */
}

.button-controls{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    height: 100%;
    margin-top: 1rem;
}

.advanced-control-button{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    height: 100%;
    margin-top: 1rem;
}

#advanced-button-controls{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    height: 100%;
    margin-top: 1rem;
}

#core-controls{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    height: 100%;
}

#easy-controls{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    height: 100%;
    margin-top: 1rem;
}

.filter-controls{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    height: 100%;
}

.filter-button {
    height: 80%;
    margin: 1rem;
    display: flex;
}


.selector{
    background-color: var(--midColor);
    color: var(--contrastColor);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 20px;
}



.dial-container {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    margin: 20px;
    text-align: center;
}

.dial {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--midColor);
    position: relative;
    cursor: pointer;
    /* border: 1px solid var(--contrastColor); */
}

.dial-indicator {
    width: 2px;
    height: 50%;
    background: var(--midColor);
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    /* border-radius: 20%; */
}

.dial-indicator-tip{
    width: 8px;
    height: 16px;
    background-color: var(--redColor);
    position: relative;
    border-radius: 17%;
    left: -4px;
    /* top: 1px; */
}

.dial-function-text {
    text-align: center;
    width: 200%;
    position: absolute;
    top: -60%;
    left: -50%;
    color: var(--contrastColor);
    margin-bottom: 30px;
}

.dial-value-text {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 100%;
    color: var(--contrastColor);
}

.dial-input {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 100%;
    color: var(--contrastColor);
    background-color: var(--bgcolor);
    -moz-appearance: textfield;
    outline: none;
    box-shadow: none; /* Remove 3D effect on focus */
}

.dial-input:focus {
    box-shadow: none; 
    border: 1px solid var(--contrastColor); 
}

.dial-input::-webkit-outer-spin-button,
.dial-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.faded {
    opacity: 0.2;
}

.custom-selector {
    position: relative;
    display: inline-block;    
    /* overflow: hidden; */
}

.selector-button {
    cursor: pointer;
    width: 10rem;
}

.custom-dropdown {
    display: none;
    position: absolute;
    top: 3rem;
    background-color: var(--midColor);
    width: 100%;
    min-width: 16rem;
    z-index: 10;
    color: var(--contrastColor);
    border-radius: 5px;
    padding: 1px;
}

.custom-dropdown.show {
    display: block;
}

.custom-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-dropdown li {
    padding: 8px 16px;
    cursor: pointer;
}

.custom-dropdown li:hover {
    opacity: 0.8;
}

.dropdown-action-button {
    margin-left: 10px;
    position: absolute;
    right: 2px;
    cursor: pointer;
}

.dropdown-input{
    padding: 10px;
    border: none var(--midColor);
    background-color: var(--midColor);
    color: var(--contrastColor);
}

.dropdown-input:focus {
    outline: none;
}